div#translate{
width: 200px;
height: 200px;
border-radius: 5px;
color: aliceblue;
background-color: blue;
padding: 10px;
/*transform: translate(100px,50px);*/
/*transform: rotate(190deg);*/ 
/*transform: scale(3.9);*/
/*transform: scaleX(3);*/
/*transform: scaleY(3);*/
/*transform: skewX(-60px);*/
/*transform: rotateX(130deg);*/
/*transform: rotateY(130deg);*/
/*transform: rotateZ(130deg);*/
/*Tranzicionet*/
transition:3s ease-in-out ,border-radius 5s;
transition-delay: 50%;
}


#translate:hover{
    background-color: brown;
    border-radius: 50%;
}





