body{
background-color: aquamarine;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
}

h1{
color: blue;
text-align: center;

}




/*p{
    color: blueviolet;
    font-size: 20px;
   /* margin-top: 100px;
margin-bottom: 100px;
margin right: 150px;
margin left: 80px;
margin: 100pxx 150px 100px 80px
margin 1px
margin: 25px 50px 75px
}
*/
.box{
width: 200px;
height: 100px;
padding: 20;
border: 5px dashed purple;
margin: 30px;
background-color: aqua;
box-sizing:border-box ;
}

.responsive-image{
width: 100%;
max-width: 700px;
margin: 20px auto ;
border: 10px solid black;
}

body{
background-image: url('../css/image/image.jpg');
background-size: cover;
background-position: center;
}


